 
# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting to a ZIP.
/.gitattributes     export-ignore
/.gitignore         export-ignore
.github/            export-ignore
